@page
@model MDeskRP.Pages.IndexModel

@{
    ViewData["Title"] = "Home";
}


<div class="text-center">
    <h1 class="display-4">Welcome to MegaDesk 3.0!</h1>
    <a href="Customer/Index"> <img class="deskImg" src="images/desk.jpg" alt="desk" /></a>
</div>