@page
@model PrivacyModel
@{
    ViewData["Title"] = "About";
}

        <h1>@ViewData["Title"]</h1>
<br/><br/>
     <div class="container text-center">
         <div class="jumbotron text-center">
             <h2>Sterling Kendall & Bonnie Soderborg are CIT 365's Team Eternal.</h2><br />
             <h3>Take your desk making to the next level with our MegaDesk 3.0!</h3>
         </div>
         @*really cool pic but not using it because of copyright issues---it's on a company's website*@
         @*<img src="images/legoDesk.jpg" alt="Lego desk" class="aboutPage"/>*@
     </div>
